<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <div class="wrapper">
        <aside class="sidebar">
            <div class="profile">
                <img src="/assets/images/myface.jpeg" alt="Profile Image" class="profile-img">
                <h1>Matt Viana</h1>
                <p><a href="mailto:mmv5513@psu.edu">mmv5513@psu.edu</a></p>
                <p><a href="https://www.linkedin.com/in/matheus-viana-110861205/">LinkedIn</a></p>
                <p><a href="https://github.com/zXmattmesq">GitHub</a></p>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/about' | relative_url }}">About Me</a></li>
                    <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
                    <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
                    <li><a href="/assets/pdfs/Markdown.pdf">Writing Sample</a></li>
                    <li><a href="/assets/pdfs/Matt_Viana_Resume.pdf">Resume</a></li>
                </ul>
            </nav>
            
        </aside>

        <main class="content">
            <div class="content-wrapper">
                {{ content }}
            </div>
        </main>
    </div>
</body>
</html>
